*{
    margin: 0;
    padding: 0;
    font-family: 'myFont', sans-serif;
    box-sizing: border-box;
    
}

@font-face{
    font-family: myFont;
    src: url(codec/HKGroteskWide-Medium.otf)
}

body{
    background: #0c0c0c;
    color: #ffffff
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container{ 
    padding: 1vmin 10%;
}

.intro{
    text-align: center;
    padding: 1vmin 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3vmin 2vmin;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 1.8vmin;
    position: relative;
    font-weight: normal;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 0.2vmin;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -.4vmin;
    transition: 0.5s;
}

nav ul li a:hover:after{
    width:100%;
}

.header-text {
    margin-top: 32vh;
    font-size: 3vmin;
    display: inline-block;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.text{
    border-right: .4vmin solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 1s steps(17),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0}
}

.header-text h1{
    font-size: 8vmin;
    margin-top: .5vmin;
   
}

.header-text h1 span{
    color: #ff004f;
}


/* ------ about ------ */
#about{ 
    padding: 8vmin 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 2vmin;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 6vmin;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 3vmin 0 2vmin;
}

.tab-links{
    margin-right: 5vmin;
    font-size: 1.5vmin;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: .2vmin;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -.4vmin;
    transition: 0.5s;
}

.tab-links:hover:after{
    width:100%;
}

.tab-links.active-link::after{
    width: 100%
}

.tab-contents ul li{
    list-style: none;
    margin: 2vmin 0;
    font-size: 1.5vmin;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 1.2vmin;
}

.tab-contents{
    display: none;
    animation: fadeIn 1s;
}

.tab-contents.active-tab{
    display: block;
}

p {
    font-size: 2vmin;
}